#{extends 'main.html' /}
#{set title:'Home' /}
<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content text-center p-md">

				<h2>
					<span class="text-navy">公司一体化业务体系</span>(点击切换为<a href="@{Application.index()}"><icon class="fa fa-th"></icon>业务总览视图</a>)
				</h2>

			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-xs-12" id="main" style="height: 600px;">

	</div>
    <div class="col-sm-12">
        <h3>${name}业务线分析结果：</h3>
        <p>共计业务内节点<b style="color:red">30</b>个，初始业务节点<b style="color:red">11</b>个，独立业务节点<b style="color:red">2</b>个，包含跨业务节点<b style="color:red">8</b>个，最长业务流程有<b style="color:red">9</b>个业务节点，跨业务域<b style="color:red">物资、营销、运检、财务。</b></p>
    </div>
</div>

#{set 'moreScripts'}
<script src="@{'/public/js/echarts.min.js'}" ></script>
<script src="@{'/public/js/echarts-gl.min.js'}" ></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    var uploadedDataURL = "";
    myChart.showLoading();
    $.getJSON("@{controllers.Application.getData(name)}", function(data) {
        myChart.hideLoading();

        myChart.setOption(option = {
            title: {
                text: '${name}'
            },
            tooltip: {
                trigger: 'item',
                triggerOn: 'mousemove'
            },
            series: [{
                type: 'graph',
				top: '10%',
                layout: 'none',
                data: data.nodes,
                links: data.links,
                itemStyle: {
                    normal: {
                        borderWidth: 1,
                        borderColor: '#aaa'
                    }
                },
                lineStyle: {
                    normal: {
                        color: 'source',
                        curveness: 0.5
                    }
                }
            }]
        });
    });


</script>

#{/set}