#{extends 'main.html' /}
#{set title:'Home' /}
*{<div class="row">}*
	*{<div class="col-lg-12">}*
		*{<div class="ibox float-e-margins">}*
			*{<div class="ibox-content text-center p-md">}*

				*{<h2>}*
					*{<span class="text-navy">公司一体化业务体系</span>}*
				*{</h2>}*

			*{</div>}*
		*{</div>}*
	*{</div>}*
*{</div>}*
<div class="row">
    <div class="col-sm-12">
        <div id="main" style="height: 900px;"></div>
    </div>
</div>

#{set 'moreScripts'}
<script src="@{'/public/js/echarts.min.js'}" ></script>
<script src="@{'/public/js/echarts-gl.min.js'}" ></script>
<script>
    var myChart = echarts.init(document.getElementById('main'));

    $.getJSON("@{controllers.Sky.search("")}", function(data) {

        option = {

            title: {
                text: "公司业务一体化体系",
                top: "top",
                left: "center"
            },

            tooltip: {
                show: true,
                formatter: function(e) {
                    return e.data.displayname;
                }
            },

            legend: {
                x: "bottom",
                bottom:"auto",
                data: data.categories.map(function (a) {
                    return a.name;
                }),
                tooltip: {
                    show: true
                },
            },

            toolbox: {
                show: true,
                feature: {
                    dataView: {
                        show: true,
                        readOnly: true
                    },
                    restore: {
                        show: true
                    },
                    saveAsImage: {
                        show: true
                    }
                }
            },
            animationDuration: 1500,
            animationEasingUpdate: 'quinticInOut',
            series: [{
                type: 'graph',
                layout: 'force',

                force: {
                    //initLayout:'circular'
                    edgeLength: 50,
                    repulsion: 50,
                    gravity: 0.2
                },
                data: data.nodes,
                links: data.links,
                categories: data.categories,
                focusNodeAdjacency: true,
                roam: true,
                label: {
                    normal: {
                        show: true,
                        formatter: function(e) {
                            return e.data.name;
                        },
                        textStyle: {
                            color: '#333',
                            fontFamily: '微软雅黑',
                            fontSize: 10
                        }
                    }
                },
                lineStyle: {
                    normal: {
                        //color: 'target',
                        curveness: 0
                    }
                }
            }]
        };
        myChart.setOption(option)
    })
</script>
#{/set}