#{extends 'main.html' /}
#{set title:'index.html' /}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins" id="_qunee">
            <div class="ibox-content" style="overflow: hidden;padding-bottom: 0;">
                <div class="search-form">
                    <form action="" id="searchForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="txt-al-mar-pad">登陆名：</label>
                            <div class="col-search-input">
                                <input class="form-control input-sm" placeholder="请输入登陆名" type="text" name="loginName" value="${loginName}">
                            </div>
                            <label class="txt-al-mar-pad">用户名：</label>
                            <div class="col-search-input">
                                <input class="form-control input-sm" placeholder="请输入用户名" type="text" name="fullname" value="${fullname}">
                            </div>
                            <!-- <label class="txt-al-mar-pad">是否管理员：</label>
                            <div class="col-search-input">
                                <select name="major" id="major" class="form-control required" onchange="queryMajorName(this.value)" >
		                            <option value="">请选择</option>
		                            #{list items:dictList,as:'_dict'}
		                                #{if _dict.type == 'cfg_sf' }
		                                    <option value="${_dict.label}" >${_dict.label}</option>
		                                #{/if}
		                            #{/list}
		                        </select>
                            </div> -->
                            <div class="input-group-btn">
                                <button class="btn btn btn-primary" type="submit">搜索</button>
                                <button class="btn btn btn-primary" style="margin-left: 10px;" type="button" onclick="cleanForm()">清空</button>
                                <button class="btn btn btn-primary" style="margin-left: 10px;" type="button" onclick="addUserInfo()">新增</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins" id="_qunee">
            <div class="ibox-content" style="overflow: hidden;">
                <div id="crudListTable">
                    <table width="100%" class="table table-striped table-bordered table-hover tab tr th ">
                        <thead>
                            <tr>
                                <th width="10%">序号</th>
                                <th width="20%">登陆名</th>
                                <th width="20%">用户名</th>
                                <th width="10%">是否管理员</th>
                                <th width="20%">备注</th>
                                <th width="20%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            #{list items:list,as:'_busi'}
                            <tr>
                                <td>${_busi_index}</td>
                                <td>${_busi.loginName}</td>
                                <td>${_busi.fullname}</td>
                                <td>${_busi.isAdmin}</td>
                                <td></td>
                                <td>
                                    <!-- <a href="javascript:void(0);" onclick="toEditDictInfo('${_busi.id}')" >修改</a> -->
                                    <a href="javascript:void(0);" onclick="deleteById('${_busi.id}')" >删除</a>
                                </td>
                            </tr>
                            #{/list}
                        </tbody>
                    </table>
                </div>
                <div class="page-box">
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{Users.previousPage(0)}">首页</a></button>
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{Users.previousPage(startPosition)}">上一页</a></button>
                    <div class="page-box-row">
                        <!-- <li class="page-item current-page-li ">当前第&nbsp;${startPosition}&nbsp;页，一共&nbsp;${totalReport/10}&nbsp;页</li>
                        <li class="page-item current-page-li"><a href="@{Summary.list(this.text)}">跳转到第<input type="text" >页</a></li> -->
                    </div>
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{Users.nextPage(startPosition)}">下一页</a></button>
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{Users.nextPage(totalReport/20)}">尾页</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/js/echarts.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/jquery-form.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/jquery.validate.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/plugins/jquery-ui/jquery-ui.min.js'}"></script>
<link href="@{'/public/js/plugins/jquery-ui/jquery-ui.min.css'}" rel="stylesheet">
<script type="text/javascript">

    function addUserInfo(){
        var html ='<div id="dialog-window" title="新增用户"><iframe id="myFrame" src="@{controllers.Users.form()}" frameBorder="0" style="border: 0;margin-bottom:-5px;margin-top:-3px;" scrolling="no" height="100%" width="100%"></iframe></div>';
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 550,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            close: function(event, ui) {
              $(this).dialog("destroy"); 
            },
            buttons : [{
                html : "确定",
                id:"addSubmitButton",
                'class' : "btn btn-primary btn-sm",
                click : function(btn) {
                    var myFrameWin = document.getElementById("myFrame").contentWindow;
                    var myForm = myFrameWin.document.getElementById("summaryForm");
                    var _this = this;
                    $(myForm).validate({
                        meta: "validate",
                        onsubmit:true,
                        onblur:false,
                        onkeyup :false,
                        rules: {
                            vendorName: {
                                required: true,
                                specialChart: true
                            },
                            errorCode: {
                                required: true,
                                specialChart: true
                            },
                            codeSeverity: {
                                required: true,
                                specialChart: true
                            }
                        },
                        submitHandler: function(){
                            ajaxSubmit(myForm);
                            $(_this).dialog("close");
                        },
                        invalidHandler: function(){
                            return false;
                        }
                    });
                    $(myForm).submit();
                }
            },{
                html : "取消",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
          }]
        }));
    }
    
    function toEditDictInfo(dictId){
        var html = "<div id='dialog-window' title='业务信息'><iframe id='myFrame' src='/Dicts/form?id="+dictId+"' frameBorder='0' style='border: 0;margin-bottom:-5px;margin-top:-3px;' scrolling='no' height='100%' width='100%'></iframe></div>";
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 500,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            buttons : [{
                html : "确定",
                id:"addSubmitButton",
                'class' : "btn btn-primary btn-sm",
                click : function(btn) {
                    var myFrameWin = document.getElementById("myFrame").contentWindow;
                    var myForm = myFrameWin.document.getElementById("summaryForm");
                    var _this = this;
                    $(myForm).validate({
                        meta: "validate",
                        onsubmit:true,
                        onblur:false,
                        onkeyup :false,
                        rules: {
                            vendorName: {
                                required: true,
                                specialChart: true
                            },
                            errorCode: {
                                required: true,
                                specialChart: true
                            },
                            codeSeverity: {
                                required: true,
                                specialChart: true
                            }
                        },
                        submitHandler: function(){
                            ajaxSubmit(myForm);
                            $(_this).dialog("close");
                        },
                        invalidHandler: function(){
                            return false;
                        }
                    });
                    $(myForm).submit();
                }
            },{
                html : "取消",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
            }],
            close: function(event, ui) {
                $(this).dialog("destroy"); 
            }
        }));
    }
    
    function toAddDictInfo(type, description){
        var html = "<div id='dialog-window' title='业务信息'><iframe id='myFrame' src='/Dicts/form?type="+type+"&description="+description+"' frameBorder='0' style='border: 0;margin-bottom:-5px;margin-top:-3px;' scrolling='no' height='100%' width='100%'></iframe></div>";
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 500,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            buttons : [{
                html : "确定",
                id:"addSubmitButton",
                'class' : "btn btn-primary btn-sm",
                click : function(btn) {
                    var myFrameWin = document.getElementById("myFrame").contentWindow;
                    var myForm = myFrameWin.document.getElementById("summaryForm");
                    var _this = this;
                    $(myForm).validate({
                        meta: "validate",
                        onsubmit:true,
                        onblur:false,
                        onkeyup :false,
                        rules: {
                            vendorName: {
                                required: true,
                                specialChart: true
                            },
                            errorCode: {
                                required: true,
                                specialChart: true
                            },
                            codeSeverity: {
                                required: true,
                                specialChart: true
                            }
                        },
                        submitHandler: function(){
                            ajaxSubmit(myForm);
                            $(_this).dialog("close");
                        },
                        invalidHandler: function(){
                            return false;
                        }
                    });
                    $(myForm).submit();
                }
            },{
                html : "取消",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
            }],
            close: function(event, ui) {
                $(this).dialog("destroy"); 
            }
        }));
    }
    
    //Ajax 提交
    function ajaxSubmit(frm) {
        
        var dataPara = getFormJson(frm);
        $.ajax({
            url: frm.action,
            type: frm.method,
            async: false,
            data: dataPara,
            dataType:"json",
            success: function(data){
                if(data == '1'){
                    alert("操作成功！");
                    window.location.reload(true);
                } else {
                    alert("操作失败，请联系系统管理员！");
                }
            } 
        });
    }
    
    //将form中的值转换为键值对。
    function getFormJson(frm) {
        var o = {};
        var a = $(frm).serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }
    
    // 根据ID删除业务信息
    function deleteById(userId){
        
        var r = confirm("确定删除该条记录么？");
        if (r == true) {
            $.ajax({
                url:"/Users/deleteUserById",
                type:"post",
                data:{
                    "userId":userId
                },
                success:function(data){
                    if(data == '1'){
                        alert("操作成功！");
                        window.location.reload(true);
                    } else {
                        alert("操作失败，请联系系统管理员！");
                    }
                }
            });
        }
    }
    
    function cleanForm(){
        $("#searchForm").find("input").each(function(){
            $(this).val("");
        });
        $("#searchForm").find("select").each(function(){
            $(this).val("");
        });
    }
    
</script>

<script type="text/javascript">

$(function(){
     showHighLight(5, 5, 13);
});

</script>

<style type="text/css">
.col-xs-2 {
    width: 10%;
    padding-top: 5px;
}

/* .tab tr th{
    text-align: center;
} */

.btn{
    padding: 5px;
}

.current-page-li {
    list-style-type:none;
}

.page-box-row{
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.txt-al-mar-pad{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.col-search-input{
    width: 150px;
    float: left;
    margin-right: 10px;
}

</style>

#{/set}
