<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="@{'/public/js/jquery-3.1.1.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery-form.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.validate.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/plugins/jquery-ui/jquery-ui.min.js'}"></script>
        
        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/bootstrap.min.css'}">
        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/smartadmin-skins.min.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/add-app-class.css'}">
        <link href="@{'/public/js/plugins/jquery-ui/jquery-ui.min.css'}" rel="stylesheet">
        <link href="@{'/public/font-awesome/css/font-awesome.css'}" rel="stylesheet">
        <link href="@{'/public/css/animate.css'}" rel="stylesheet">
        <script type="text/javascript">
            $(document).ready(function() {
                
            });
        </script>
    </head>
    <body>
        <form id="summaryForm" name="summaryForm" class="form-horizontal mar-tb-10" action="@{Users.save()}" autoscroll="false" method="post" style="padding-right: 5%">
            <fieldset>
                <input type="hidden" name="id" id="id" value="${tCfgUser.id}" />
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad">登陆名：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <input class="form-control required" type="text" name="loginName" id="loginName" value="${tCfgUser.loginName}" maxlength="50" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad">用户名：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <input class="form-control required" type="text" name="fullname" id="fullname" value="${tCfgUser.fullname}" maxlength="50" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad">密码：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <input class="form-control required" type="text" name="password" id="password" value="${tCfgUser.password}" maxlength="50" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad">是否管理员：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <!-- <input class="form-control required" type="text" name="isAdmin" id="isAdmin" value="${tCfgUser.isAdmin}" maxlength="50" /> -->
                        <select name="isAdmin" id="isAdmin" class="form-control required" >
                            <option value="">请选择</option>
                            #{list items:dictList,as:'_dict'}
                                #{if _dict.type == 'is_admin' }
                                    <option value="${_dict.label}" #{if _dict.label == tCfgUser.isAdmin}selected="selected"#{/if}>${_dict.label}</option>
                                #{/if}
                            #{/list}
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad">备注：</label>
                    <div class="col-xs-10">
                        <textarea rows="3" class="form-control" cols="50" name="remarks" id="remarks" >${tCfgUser.remarks}</textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>
