#{extends 'main.html' /}
#{set title:'index.html' /}

<ul class="nav nav-tabs">
    <li class="active"><a href="@{controllers.DataDicts.list()}">元数据管理</a></li>
    <li><a href="#">主数据管理</a></li>
    <li><a href="@{controllers.BusinessObjs.toUpload()}">业务数据导入</a></li>
</ul>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins" id="_qunee">
            <div class="ibox-content" style="overflow: hidden;padding-bottom: 0;">
                <div class="search-form">
                    <form action="" id="searchForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="txt-al-mar-pad">序号1：</label>
                            <div class="col-search-input">
                                <input class="form-control input-sm" placeholder="请输入序号1" type="text" name="data_mainid" value="${data_mainid}">
                            </div>
                            <label class="txt-al-mar-pad">业务事项：</label>
                            <div class="col-search-input">
                                <input class="form-control input-sm" placeholder="请输入业务事项" type="text" name="busi_des" value="${busi_des}">
                            </div>
                            <label class="txt-al-mar-pad">数据项：</label>
                            <div class="col-search-input">
                                <input class="form-control input-sm" placeholder="请输入数据项" type="text" name="data_item" value="${data_item}">
                            </div>
                            <label class="txt-al-mar-pad">系统名称：</label>
                            <div class="col-search-input">
                                <input class="form-control input-sm" placeholder="请输入系统名称" type="text" name="sys_name" value="${sys_name}">
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn btn-primary" type="submit">搜索</button>
                                <button class="btn btn btn-primary" style="margin-left: 10px;" type="button" onclick="cleanForm()">清空</button>
                                <!-- <button class="btn btn btn-primary" style="margin-left: 10px;" type="button" onclick="#">新增</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins" id="_qunee">
            <div class="ibox-content" style="overflow: hidden;">
                <div id="crudListTable">
                    <table width="100%" class="table table-striped table-bordered table-hover tab tr th ">
                        <thead>
                            <tr>
                                <th width="5%">序号</th>
                                <th width="5%">专业</th>
                                <th width="5%">序号1</th>
                                <th width="5%">序号2</th>
                                <th width="8%">业务事项</th>
                                <th width="6%">业务编号</th>
                                <th width="8%">数据项</th>
                                <th width="5%">是否线上数据</th>
                                <th width="8%">是否结构化数据</th>
                                <th width="5%">传输方式</th>
                                <th width="8%">来源系统</th>
                                <th width="7%">接收系统</th>
                                <th width="7%">是否可做主数据</th>
                                <th width="8%">系统名称</th>
                                <th width="10%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            #{list items:list,as:'_data'}
                            <tr>
                                <td>${_data_index}</td>
                                <td>${_data.prof_name}</td>
                                <td>${_data.data_mainid}</td>
                                <td>${_data.data_subid}</td>
                                <td>${_data.busi_des}</td>
                                <td>
                                    <a href="javascript:void(0);" onclick="toQueryBusInfo('${_data.bus_code}')">${_data.bus_code}</a>
                                </td>
                                <td>${_data.data_item}</td>
                                <td>${_data.if_online}</td>
                                <td>${_data.if_struct}</td>
                                <td>${_data.trans_type}</td>
                                <td>${_data.src_sys}</td>
                                <td>${_data.rec_sys}</td>
                                <td>${_data.if_maindata}</td>
                                <td>${_data.sys_name}</td>
                                <td>
                                    <a href="javascript:void(0);" onclick="toDetail('${_data.id}')" >查看</a>
                                    <!-- <a href="javascript:void(0);" onclick="#" >修改</a>
                                    <a href="javascript:void(0);" onclick="toEditDictInfo('${_data.id}')" >修改</a>
                                    <a href="javascript:void(0);" onclick="#" >删除</a>
                                    <a href="javascript:void(0);" onclick="deleteById('${_data.id}')" >删除</a> -->
                                </td>
                            </tr>
                            #{/list}
                        </tbody>
                    </table>
                </div>
                <div class="page-box">
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{DataDicts.previousPage(0)}">首页</a></button>
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{DataDicts.previousPage(startPosition)}">上一页</a></button>
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{DataDicts.nextPage(startPosition)}">下一页</a></button>
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{DataDicts.nextPage(totalReport/10)}">尾页</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/js/echarts.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/jquery-form.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/jquery.validate.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/plugins/jquery-ui/jquery-ui.min.js'}"></script>
<link href="@{'/public/js/plugins/jquery-ui/jquery-ui.min.css'}" rel="stylesheet">
<script type="text/javascript">

    function toDetail(dataId){
        var html = "<div id='dialog-window' title='业务信息'><iframe id='myFrame' src='/DataDicts/detail?id="+dataId+"' frameBorder='0' style='border: 0;margin-bottom:-5px;margin-top:-3px;' scrolling='auto' height='100%' width='100%'></iframe></div>";
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 550,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            close: function(event, ui) {
              $(this).dialog("destroy"); 
            },
            buttons : [{
                html : "关闭",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
          }]
        }));
    }
    
    function toQueryBusInfo(busCode){
        var html = "<div id='dialog-window' title='业务信息'><iframe id='myFrame' src='/Summary/toQueryBusInfo?busCode="+busCode+"' frameBorder='0' style='border: 0;margin-bottom:-5px;margin-top:-3px;' scrolling='auto' height='100%' width='100%'></iframe></div>";
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 550,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            close: function(event, ui) {
              $(this).dialog("destroy"); 
            },
            buttons : [{
                html : "关闭",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
          }]
        }));
    }
    
    function toEditDictInfo(dictId){
        var html = "<div id='dialog-window' title='业务信息'><iframe id='myFrame' src='/Dicts/form?id="+dictId+"' frameBorder='0' style='border: 0;margin-bottom:-5px;margin-top:-3px;' scrolling='no' height='100%' width='100%'></iframe></div>";
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 500,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            buttons : [{
                html : "确定",
                id:"addSubmitButton",
                'class' : "btn btn-primary btn-sm",
                click : function(btn) {
                    var myFrameWin = document.getElementById("myFrame").contentWindow;
                    var myForm = myFrameWin.document.getElementById("summaryForm");
                    var _this = this;
                    $(myForm).validate({
                        meta: "validate",
                        onsubmit:true,
                        onblur:false,
                        onkeyup :false,
                        rules: {
                            vendorName: {
                                required: true,
                                specialChart: true
                            },
                            errorCode: {
                                required: true,
                                specialChart: true
                            },
                            codeSeverity: {
                                required: true,
                                specialChart: true
                            }
                        },
                        submitHandler: function(){
                            ajaxSubmit(myForm);
                            $(_this).dialog("close");
                        },
                        invalidHandler: function(){
                            return false;
                        }
                    });
                    $(myForm).submit();
                }
            },{
                html : "取消",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
            }],
            close: function(event, ui) {
                $(this).dialog("destroy"); 
            }
        }));
    }
    
    function toAddDictInfo(type, description){
        var html = "<div id='dialog-window' title='业务信息'><iframe id='myFrame' src='/Dicts/form?type="+type+"&description="+description+"' frameBorder='0' style='border: 0;margin-bottom:-5px;margin-top:-3px;' scrolling='no' height='100%' width='100%'></iframe></div>";
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 500,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            buttons : [{
                html : "确定",
                id:"addSubmitButton",
                'class' : "btn btn-primary btn-sm",
                click : function(btn) {
                    var myFrameWin = document.getElementById("myFrame").contentWindow;
                    var myForm = myFrameWin.document.getElementById("summaryForm");
                    var _this = this;
                    $(myForm).validate({
                        meta: "validate",
                        onsubmit:true,
                        onblur:false,
                        onkeyup :false,
                        rules: {
                            vendorName: {
                                required: true,
                                specialChart: true
                            },
                            errorCode: {
                                required: true,
                                specialChart: true
                            },
                            codeSeverity: {
                                required: true,
                                specialChart: true
                            }
                        },
                        submitHandler: function(){
                            ajaxSubmit(myForm);
                            $(_this).dialog("close");
                        },
                        invalidHandler: function(){
                            return false;
                        }
                    });
                    $(myForm).submit();
                }
            },{
                html : "取消",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
            }],
            close: function(event, ui) {
                $(this).dialog("destroy"); 
            }
        }));
    }
    
    //Ajax 提交
    function ajaxSubmit(frm) {
        
        var dataPara = getFormJson(frm);
        $.ajax({
            url: frm.action,
            type: frm.method,
            async: false,
            data: dataPara,
            dataType:"json",
            success: function(data){
                if(data == '1'){
                    alert("操作成功！");
                    window.location.reload(true);
                } else {
                    alert("操作失败，请联系系统管理员！");
                }
            } 
        });
    }
    
    //将form中的值转换为键值对。
    function getFormJson(frm) {
        var o = {};
        var a = $(frm).serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }
    
    // 根据ID删除业务信息
    function deleteById(dictId){
        
        var r = confirm("确定删除该条记录么？");
        if (r == true) {
            $.ajax({
                url:"/Dicts/deleteDictById",
                type:"post",
                data:{
                    "dictId":dictId
                },
                success:function(data){
                    if(data == '1'){
                        alert("操作成功！");
                        window.location.reload(true);
                    } else {
                        alert("操作失败，请联系系统管理员！");
                    }
                }
            });
        }
    }
    
    function cleanForm(){
        $("#searchForm").find("input").each(function(){
            $(this).val("");
        });
    }
    
</script>
<script type="text/javascript">
    $(function(){
        //高亮显示
        showHighLight(2, 2, 6);
    })
</script>

<style type="text/css">
.col-xs-2 {
    width: 10%;
    padding-top: 5px;
}

/* .tab tr th{
    text-align: center;
} */

.btn{
    padding: 5px;
}

.current-page-li {
    list-style-type:none;
}

.page-box-row{
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.txt-al-mar-pad{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.col-search-input{
    width: 150px;
    float: left;
    margin-right: 10px;
}

</style>

#{/set}
