#{extends 'main.html' /} #{set title:'Home' /} *{
<div class="row">
    }* *{
    <div class="col-lg-12">
        }* *{
        <div class="ibox float-e-margins">
            }* *{
            <div class="ibox-content text-center p-md">
                }* *{
                <h2>
                    }* *{
                    <span class="text-navy">公司一体化业务体系</span>
                    }* *{
                </h2>
                }* *{
            </div>
            }* *{
        </div>
        }* *{
    </div>
    }* *{
</div>
}*
<!-- <div class="row">
    <div class="col-sm-12">
        <div id="main" style="height: 300px; width: 500px"></div>
    </div>
</div> -->

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins" id="_qunee">
            <div class="ibox-content" style="overflow: hidden;">
                <div style="height: 50px; width: 1270px; float: left;">
                    <h1 style="float: left;">${majorName}专业数据统计</h1>
                    <a href="@{DataDicts.list()}"><h3 style="float: right;margin-top: 25px;">查看数据项</h3></a>
                </div>
                <div id="modeData" style="height: 500px; width: 600px; float: left; border: 1px solid red; margin-top: 10px;"></div>
                <div id="sysData" style="height: 500px; width: 650px; float: left; border: 1px solid red; margin-top: 10px;margin-left: 20px;"></div>
                <div id="mainData" style="height: 500px; width: 1270px; float: left; border: 1px solid red; margin-top: 10px;"></div>
                <div id="main" style="height: 500px; width: 1270px; float: left; border: 1px solid red; margin-top: 10px;"></div>
            </div>
        </div>
    </div>
</div>


#{set 'moreScripts'}
<script src="@{'/public/js/echarts.js'}"></script>
<script src="@{'/public/js/echarts-gl.min.js'}"></script>
<script type="text/javascript">
    var modeChart = echarts.init(document.getElementById('modeData'));
    $.getJSON("@{DataDicts.getModesData(majorName)}", function(data) {
        var option = {
            title : {
                text: '业务数据生成方式统计',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: data.names
            },
            toolbox: {
                show : true,
                feature : {
                    dataView : {show: true, readOnly: false},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            series : [{
                    name: '生成方式：',
                    type: 'pie',
                    radius : '58%',
                    center: ['50%', '60%'],
                    data: data.datas,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]};
        modeChart.setOption(option);
    });
    
    var sysChart = echarts.init(document.getElementById('sysData'));
    $.getJSON("@{DataDicts.getSrcSysData(majorName)}", function(data) {
        var option = {
            title : {
                text: '来源系统数据统计',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: data.names
            },
            toolbox: {
                show : true,
                feature : {
                    dataView : {show: true, readOnly: false},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            series : [{
                    name: '来源系统：',
                    type: 'pie',
                    radius : '58%',
                    center: ['60%', '60%'],
                    data: data.datas,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]};
        sysChart.setOption(option);
    });
    
    var mainChart = echarts.init(document.getElementById('mainData'));
    $.getJSON("@{DataDicts.getCategoryData(majorName)}", function(data) {
        
        var option = {
            title : {
                text: '业务数据统计'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['否','是']
            },
            toolbox: {
                show : true,
                feature : {
                    dataView : {show: true, readOnly: false},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : data.names
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'否',
                    type:'bar',
                    data:data.datax
                },
                {
                    name:'是',
                    type:'bar',
                    data:data.datay
                }
            ]
        };
        mainChart.setOption(option);
    });
    
</script>
<script type="text/javascript">

$(function(){
     showHighLight(2, 2, 5);
});

</script>

#{/set}
