<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="@{'/public/js/jquery-3.1.1.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery-form.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.validate.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/plugins/jquery-ui/jquery-ui.min.js'}"></script>
        
        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/bootstrap.min.css'}">
        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/smartadmin-skins.min.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/add-app-class.css'}">
        <link href="@{'/public/js/plugins/jquery-ui/jquery-ui.min.css'}" rel="stylesheet">
        <link href="@{'/public/font-awesome/css/font-awesome.css'}" rel="stylesheet">
        <link href="@{'/public/css/animate.css'}" rel="stylesheet">
        <script type="text/javascript">
            $(document).ready(function() {
                
                $("#major").attr("disabled","true");
                $("#name").attr("disabled","true");
                $("#business").attr("disabled","true");
                $("#content").attr("disabled","true");
                $("#title").attr("disabled","true");
                $("#description").attr("disabled","true");
            });
            
            function changeProcess(obj){
                
                var label = $(obj).find("option:selected").text();  //获取Select选择的Text
                $("#processName").val(label);
                
                $.ajax({
                    url:"/Summary/queryProcessByCode",
                    type:"post",
                    data:"processCode="+obj.value,
                    success:function(data){
                        var nodes = JSON.parse(data).nodes;
                        var html = "";
                        $("#prevNode").html(html);
                        $("#nextNode").html(html);
                        html +="<option value=''>--请选择--</option>";
                        for(var i = 0 ; i < nodes.length ; i ++){
                            var str = "<option value='"+nodes[i].busCode+"'>"+nodes[i].busCode+"</option>";
                            html += str;
                        }
                        $("#prevNode").append(html);
                        $("#nextNode").append(html);
                        
                        $("#prevNode").val('');
                        $("#nextNode").val('');
                        /* var options = [];
                        options.push($('<option>', {value: '', text: '--请选择--'}));
                        $.each(nodes, function(i, item){
                            var _val = nodes[i].busCode, 
                                _text = nodes[i].busCode,
                                _option = $('<option>', {value: _val, text: _text});
                            options.push(_option);
                        }); */
                        /* if(options.length > 0){
                            $("#prevNode").append(options);
                            $("#nextNode").append(options);
                        } */
                    }
                });
            }
            
            function queryBusName(areaName){
                
                if(areaName != ''){
                    $("#major").val('');
                    $("#major").removeAttr("disabled");
                } else {
                    $("#major").val('');
                    $("#major").attr("disabled", "true");
                    $("#name").val('');
                    $("#name").attr("disabled", "true");
                    alert("所属版块不能为空！");
                }
            }
            
            function queryMajorName(majorName){
                
                if(majorName != ''){
                    $("#majorName").val(majorName);
                    var areaName = $("#area").val();
                    $.ajax({
                        url:"/Summary/queryMajorName",
                        type:"post",
                        data:{
                            "areaName":areaName,
                            "majorName":majorName,
                        },
                        success:function(data){
                            
                            var majors = JSON.parse(data).nodes;
                            var html = "";
                            if(majors.length == 0){
                                alert("该版块所属专业下未发现核心业务，请维护该版块专业下的核心业务！");
                                $("#name").html(html);
                                $("#name").removeAttr("disabled");
                                return false;
                            }
                            
                            $("#name").html(html);
                            html +="<option value=''>请选择</option>";
                            for(var i = 0 ; i < majors.length ; i ++){
                                var str = "<option value='"+majors[i].name+"'>"+majors[i].name+"</option>";
                                html += str;
                            }
                            $("#name").append(html);
                            $("#name").val('');
                            $("#name").removeAttr("disabled");
                            $("#content").val('');
                            $("#content").removeAttr("disabled");
                        }
                    });
                } else {
                    var html = "";
                    $("#name").html(html);
                    $("#name").attr("disabled", "true");
                    $("#content").val('');
                    $("#content").attr("disabled", "true");
                    alert("专业不能为空！");
                }
            }
            
            function changeBusName(busName) {
                
                if(busName != ''){
                    
                    $.ajax({
                        url:"/Summary/queryMajorName",
                        type:"post",
                        data:{
                            "busName":busName
                        },
                        success:function(data){
                            var contents = JSON.parse(data).nodes;
                            var html = "";
                            $("#contents").html(html);
                            html +="<option value=''>请选择</option>";
                            for(var i = 0 ; i < contents.length ; i ++){
                                var str = "<option value='"+contents[i].content+"'>"+contents[i].content+"</option>";
                                html += str;
                            }
                            $("#content").append(html);
                        }
                    });
                    
                    $("#content").removeAttr("disabled");
                    $("#business").removeAttr("disabled");
                    $("#title").removeAttr("disabled");
                    $("#description").removeAttr("disabled");
                } else {
                    $("#content").attr("disabled","true");
                    $("#business").attr("disabled","true");
                    $("#title").attr("disabled","true");
                    $("#description").attr("disabled","true");
                }
            }
            
            function addOneLevel(){
                var html ='<div id="dialog-window" title="新增一级业务"><iframe id="myFrame1" src="@{controllers.Summary.addOneLevel()}" frameBorder="0" style="border: 0;margin-bottom:-5px;margin-top:-3px;" scrolling="no" height="100%" width="100%"></iframe></div>';
                $(html).dialog($.extend({
                    modal: true,
                    width: 800,
                    height: 550,
                    closeOnEscape: false,
                    draggable: true,
                    resizable: false,
                    'class': 'overflow-y:hidden',
                    close: function(event, ui) {
                      $(this).dialog("destroy"); 
                    },
                    buttons : [{
                        html : "确定",
                        id:"addSubmitButton",
                        'class' : "btn btn-primary btn-sm",
                        click : function(btn) {
                        var myFrameWin = document.getElementById("myFrame").contentWindow;
                        var myForm = myFrameWin.document.getElementById("summaryForm");
                        var _this = this;
                        $(myForm).validate({
                            meta: "validate",
                            onsubmit:true,
                            onblur:false,
                            onkeyup :false,
                            rules: {
                                vendorName: {
                                    required: true,
                                    specialChart: true
                                },
                                errorCode: {
                                    required: true,
                                    specialChart: true
                                },
                                codeSeverity: {
                                    required: true,
                                    specialChart: true
                                }
                            },
                            submitHandler: function(){
                                ajaxSubmit(myForm);
                                $(_this).dialog("close");
                            },
                            invalidHandler: function(){
                                return false;
                            }
                        });
                        $(myForm).submit();
                     }
                 },{
                        html : "取消",
                        'class' : "btn btn-default btn-sm",
                        click : function() {
                            $(this).dialog("close");
                        }
                  }]
                }));
            }
            
            //将form转为AJAX提交
            function ajaxSubmit(frm) {
                
                var dataPara = getFormJson(frm);
                $.ajax({
                    url: frm.action,
                    type: frm.method,
                    data: dataPara,
                    dataType:"json",
                    success: function(data){
                        if(data == '1'){
                            alert("操作成功！");
                            window.location.reload(true);
                        } else {
                            alert("操作失败，请联系系统管理员！");
                        }
                            
                    } 
                });
            }
            
            //将form中的值转换为键值对。
            function getFormJson(frm) {
                var o = {};
                var a = $(frm).serializeArray();
                $.each(a, function () {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            }
            
            function checkBusName(busName){
                
                if(busName != ''){
                    $("#business").removeAttr("disabled");
                    $("#title").removeAttr("disabled");
                    $("#description").removeAttr("disabled");
                } else {
                    $("#business").attr("disabled","true");
                    $("#title").attr("disabled","true");
                    $("#description").attr("disabled","true");
                }
            }
            
            function checkBusCode(busCode){
                
                if(busCode != ''){
                    $("#title").addClass("required");
                    $("#description").addClass("required");
                } else {
                    $('#title').removeClass("required");
                    $('#description').removeClass("required");
                }
            }
            
            function checkBusTitle(busTitle){
                
                if(busTitle != ''){
                	$("#business").addClass("required");
                    $("#description").addClass("required");
                } else {
                    $('#business').removeClass("required");
                    $('#description').removeClass("required");
                }
            }
            
            function checkDesc(busDesc){
                
                if(busDesc != ''){
                    $("#business").addClass("required");
                    $("#title").addClass("required");
                } else {
                    $('#business').removeClass("required");
                    $('#title').removeClass("required");
                }
            }
        </script>
        
        <style type="text/css">
            .col-xs-2 {
                width: 170px;
                margin-left: 10px;
            }
            
            .col-xs-10 {
                width: 580px;
                padding-left: 0px;
            }
            
        </style>
        
    </head>
    <body>
        <form id="summaryForm" name="summaryForm" class="form-horizontal mar-tb-10" action="@{controllers.Summary.save()}" autoscroll="false" method="post" style="padding-right: 5%">
            <fieldset>
                <input type="hidden" name="keyWord" id="keyWord" value="${keyWord}" />
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad" id="labelErrorCode">所属版块：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <select name="area" id="area" class="form-control required" onchange="queryBusName(this.value)">
                            <option value="">请选择</option>
                            #{list items:dictList,as:'_dict'}
                                #{if _dict.type == 'area' }
                                    <option value="${_dict.label}" >${_dict.label}</option>
                                #{/if}
                            #{/list}
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad" id="labelErrorCode">专业：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <select name="major" id="major" class="form-control required" onchange="queryMajorName(this.value)" >
                            <option value="">请选择</option>
                            #{list items:dictList,as:'_dict'}
                                #{if _dict.type == 'major'}
                                    <option value="${_dict.label}">${_dict.label}</option>
                                #{/if}
                            #{/list}
                        </select>
                        <input type="hidden" name="majorName" id="majorName" value="" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad">业务名称：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <!-- <input class="form-control required" type="text" name="name" id="name" maxlength="100"> -->
                        <select name="name" id="name" class="form-control required" onchange="changeBusName(this.value)" ></select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad">业务内容：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <!-- <input class="form-control required" type="text" name="content" id="content" maxlength="100" /> -->
                        <select name="content" id="content" class="form-control required" ></select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad">业务编号：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <input class="form-control required" type="text" name="business" id="business" maxlength="100" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad">业务内容描述：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <input class="form-control required" type="text" name="title" id="title" maxlength="100" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-2 txt-al-mar-pad">业务内容描述详情：<font style="color:red;"> * </font></label>
                    <div class="col-xs-10">
                        <textarea rows="3" class="form-control required" cols="50" name="description" id="description" ></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>
