#{extends 'main.html' /}
#{set title:'index.html' /}

<ul class="nav nav-tabs">
    <li class="active"><a href="@{controllers.Summary.list()}">业务节点维护</a></li>
    <li><a href="@{controllers.Business.list()}">业务关系维护</a></li>
    <li><a href="@{Business.toUpload()}">串接关系导入</a></li>
    <li><a href="@{controllers.Dicts.list()}">基础数据维护</a></li>
</ul>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins" id="_qunee">
            <div class="ibox-content" style="overflow: hidden;padding-bottom: 0;">
                <div class="search-form">
                    <!-- <form action="@{controllers.Summary.list()}" method="get">
                        <div class="input-group">
                            <input type="text" placeholder="${busName}" name="busName" id="busName" value="${busName}" class="form-control input-lg">
                            <div class="input-group-btn">
                                <button class="btn btn-lg btn-primary" type="submit">搜索</button>
                            </div>
                        </div>
                    </form> -->
                    <form action="" id="searchForm" class="form-horizontal">
                        <div class="form-group">
                            <!-- <label class="txt-al-mar-pad">专业：</label>
                            <div class="col-search-input">
                                <select name="major" id="major" class="form-control required" >
                                    <option value="">请选择</option>
                                    #{list items:dictList,as:'_dict'}
                                        #{if _dict.type == 'major' }
                                            <option value="${_dict.label}" #{if _dict.label == major }selected="selected"#{/if} >${_dict.label}</option>
                                        #{/if}
                                    #{/list}
                                </select>
                            </div> -->
                            <label class="txt-al-mar-pad">业务编号：</label>
                            <div class="col-search-input">
                                <input class="form-control input-sm" placeholder="请输入业务编号" type="text" name="business" value="${business}">
                            </div>
                            <label class="txt-al-mar-pad">业务名称：</label>
                            <div class="col-search-input">
                                <input class="form-control input-sm" placeholder="请输入业务名称" type="text" name="name" value="${name}">
                            </div>
                            <label class="txt-al-mar-pad">业务内容：</label>
                            <div class="col-search-input">
                                <input class="form-control input-sm" placeholder="请输入业务内容" type="text" name="content" value="${content}">
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn btn-primary" type="submit">搜索</button>
                                <button class="btn btn btn-primary" style="margin-left: 10px;" type="button" onclick="cleanForm()">清空</button>
                                <button class="btn btn btn-primary" style="margin-left: 10px;" type="button" onclick="addNodeInfo()">新增业务内容描述</button>
                                <button class="btn btn btn-primary" style="margin-left: 10px;" type="button" onclick="addOneLevel()">新增业务</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins" id="_qunee">
            <div class="ibox-content" style="overflow: hidden;">
                <div id="crudListTable">
                    <table width="100%" class="table table-striped table-bordered table-hover tab tr th ">
                        <thead>
                            <tr>
                                <th width="5%">序号</th>
                                <th width="10%">所属版块</th>
                                <th width="10%">专业</th>
                                <th width="10%">业务编号</th>
                                <th width="15%">业务名称</th>
                                <th width="20%">业务内容</th>
                                <th width="20%">业务内容描述</th>
                                <th width="10%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            #{list items:list,as:'_busi'}
                            <tr>
                                <td>${_busi_index}</td>
                                <td>${_busi.area}</td>
                                <td>${_busi.major}</td>
                                <td>${_busi.business}</td>
                                <td>${_busi.name}</td>
                                <td>
                                    #{if _busi.content != null}
                                        ${_busi.content.length() > 9 ? _busi.content[0..9] + '…' : _busi.content}
                                    #{/if}
                                    #{else}
                                        ${_busi.content}
                                    #{/else}
                                </td>
                                <td>
                                    #{if _busi.title != null}
                                        ${_busi.title.length() > 9 ? _busi.title[0..9] + '…' : _busi.title}
                                    #{/if}
                                    #{else}
                                        ${_busi.title}
                                    #{/else}
                                </td>
                                <td>
                                    <a href="javascript:void(0);" onclick="queryNodeInfoById('${_busi.id}')" >查看</a>
                                    <!-- <a href="javascript:void(0);" onclick="#" >修改</a> -->
                                    #{if _busi.delFlag == '0'}
                                        <a href="javascript:void(0);" onclick="toEditById('${_busi.id}')" >修改</a>
                                        <a href="javascript:void(0);" onclick="deleteById('${_busi.id}')" >删除</a>
                                    #{/if}
                                </td>
                            </tr>
                            #{/list}
                        </tbody>
                    </table>
                </div>
                <div class="page-box">
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{Summary.previousPage(0)}">首页</a></button>
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{Summary.previousPage(startPosition)}">上一页</a></button>
                    <div class="page-box-row">
                        <!-- <li class="page-item current-page-li ">当前第&nbsp;${startPosition}&nbsp;页，一共&nbsp;${totalReport/10}&nbsp;页</li>
                        <li class="page-item current-page-li"><a href="@{Summary.list(this.text)}">跳转到第<input type="text" >页</a></li> -->
                    </div>
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{Summary.nextPage(startPosition)}">下一页</a></button>
                    <button class="next-page-btn page-box-row"><a class="next-page-btn-a" href="@{Summary.nextPage(totalReport/20)}">尾页</a></button>
                    <!-- <div class="page-box-row">  
                        <span class="triangle"></span>  
                        <ul class="page-ul">  
                            %{  
                                for(int i=0; i< totalReport/20 ; i++){
                            }%  
                                <li class="page-item current-page-li"><a href="@{Summary.list(i)}">第 ${i+1} 页</a></li>  
                            %{  
                                }  
                            }%  
                        </ul>
                        <a href="" class="current-page-a">尾页</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/js/echarts.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/jquery-form.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/jquery.validate.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/plugins/jquery-ui/jquery-ui.min.js'}"></script>
<link href="@{'/public/js/plugins/jquery-ui/jquery-ui.min.css'}" rel="stylesheet">
<script type="text/javascript">

    function queryNodeInfoById(nodeId){
        var html = "<div id='dialog-window' title='业务信息'><iframe id='myFrame' src='/Summary/detail?id="+nodeId+"' frameBorder='0' style='border: 0;margin-bottom:-5px;margin-top:-3px;' scrolling='no' height='100%' width='100%'></iframe></div>";
        $(html).dialog($.extend({
            modal: true,
            width: 850,
            height: 500,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            close: function(event, ui) {
              $(this).dialog("destroy"); 
            },
            buttons : [{
                html : "关闭",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
            }]
        }));
    }
    
    function toEditById(nodeId){
        var html = "<div id='dialog-window' title='业务信息'><iframe id='myFrame' src='/Summary/form?id="+nodeId+"' frameBorder='0' style='border: 0;margin-bottom:-5px;margin-top:-3px;' scrolling='no' height='100%' width='100%'></iframe></div>";
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 500,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            buttons : [{
                html : "确定",
                id:"addSubmitButton",
                'class' : "btn btn-primary btn-sm",
                click : function(btn) {
                    var myFrameWin = document.getElementById("myFrame").contentWindow;
                    var myForm = myFrameWin.document.getElementById("summaryForm");
                    var _this = this;
                    $(myForm).validate({
                        meta: "validate",
                        onsubmit:true,
                        onblur:false,
                        onkeyup :false,
                        rules: {
                            vendorName: {
                                required: true,
                                specialChart: true
                            },
                            errorCode: {
                                required: true,
                                specialChart: true
                            },
                            codeSeverity: {
                                required: true,
                                specialChart: true
                            }
                        },
                        submitHandler: function(){
                            ajaxSubmit(myForm);
                            $(_this).dialog("close");
                        },
                        invalidHandler: function(){
                            return false;
                        }
                    });
                    $(myForm).submit();
                }
            },{
                html : "取消",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
            }],
            close: function(event, ui) {
                $(this).dialog("destroy"); 
            }
        }));
    }
    
    $(".size").each(function() {
        var maxwidth = 100;
        if ($(this).text().length > maxwidth) {
            $(this).text($(this).text().substring(0, maxwidth));
            $(this).html($(this).html() + '…');
        }
    });
    
    function addNodeInfo(){
        var html ='<div id="dialog-window" title="新增业务"><iframe id="myFrame" src="@{controllers.Summary.addOneNode(keyword)}" frameBorder="0" style="border: 0;margin-bottom:-5px;margin-top:-3px;" scrolling="no" height="100%" width="100%"></iframe></div>';
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 550,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            close: function(event, ui) {
              $(this).dialog("destroy"); 
            },
            buttons : [{
                html : "确定",
                id:"addSubmitButton",
                'class' : "btn btn-primary btn-sm",
                click : function(btn) {
                    var myFrameWin = document.getElementById("myFrame").contentWindow;
                    var myForm = myFrameWin.document.getElementById("summaryForm");
                    var _this = this;
                    $(myForm).validate({
                        meta: "validate",
                        onsubmit:true,
                        onblur:false,
                        onkeyup :false,
                        rules: {
                            vendorName: {
                                required: true,
                                specialChart: true
                            },
                            errorCode: {
                                required: true,
                                specialChart: true
                            },
                            codeSeverity: {
                                required: true,
                                specialChart: true
                            }
                        },
                        submitHandler: function(){
                            if(ajaxSubmit(myForm)){
                                $(_this).dialog("close");
                            } else {
                                return false;
                            }
                        },
                        invalidHandler: function(){
                            return false;
                        }
                    });
                    $(myForm).submit();
                }
            },{
                html : "取消",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
          }]
        }));
    }
    
    function addOneLevel(){
        var html ='<div id="dialog-window" title="新增业务"><iframe id="myFrame" src="@{controllers.Summary.addOneLevel()}" frameBorder="0" style="border: 0;margin-bottom:-5px;margin-top:-3px;" scrolling="no" height="100%" width="100%"></iframe></div>';
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 400,
            closeOnEscape: false,
            draggable: false,
            resizable: false,
            'class': 'overflow-y:hidden',
            close: function(event, ui) {
              $(this).dialog("destroy"); 
            },
            buttons : [{
                html : "确定",
                id:"addSubmitButton",
                'class' : "btn btn-primary btn-sm",
                click : function(btn) {
                    var myFrameWin = document.getElementById("myFrame").contentWindow;
                    var myForm = myFrameWin.document.getElementById("summaryForm");
                    var _this = this;
                    $(myForm).validate({
                        meta: "validate",
                        onsubmit:true,
                        onblur:false,
                        onkeyup :false,
                        rules: {
                            vendorName: {
                                required: true,
                                specialChart: true
                            },
                            errorCode: {
                                required: true,
                                specialChart: true
                            },
                            codeSeverity: {
                                required: true,
                                specialChart: true
                            }
                        },
                        submitHandler: function(){
                            /* if(ajaxSubmit1(myForm)){
                                $(_this).dialog("close");
                            } else {
                                return false;
                            } */
                            ajaxSubmit1(myForm);
                            $(_this).dialog("close");
                        },
                        invalidHandler: function(){
                            return false;
                        }
                    });
                    $(myForm).submit();
                }
            },{
                html : "取消",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
          }]
        }));
    }
    
    //三级业务新增
    function ajaxSubmit(frm) {
        
        var bol = true;
        var dataPara = getFormJson(frm);
        var areaName = dataPara.area;
        var majorName = dataPara.major;
        var busName = dataPara.name;
        var business = dataPara.business;
        var nodeId = dataPara.id;
        // 验证一级业务名称是否重复 与 验证三级业务编号是否重复
        /* if(checkBusCode(business) && checkBusName(areaName, majorName, busName)){ */
        
        if(nodeId != null || nodeId == "undefined"){
            $.ajax({
                url: frm.action,
                type: frm.method,
                async: false,
                data: dataPara,
                dataType:"json",
                success: function(data){
                    if(data == '1'){
                        alert("操作成功！");
                        window.location.reload(true);
                    } else {
                        alert("操作失败，请联系系统管理员！");
                    }
                } 
            });
        } else {
            if(checkBusCode(business)){
                $.ajax({
                    url: frm.action,
                    type: frm.method,
                    async: false,
                    data: dataPara,
                    dataType:"json",
                    success: function(data){
                        if(data == '1'){
                            alert("操作成功！");
                            window.location.reload(true);
                        } else {
                            alert("操作失败，请联系系统管理员！");
                        }
                    } 
                });
            } else {
                bol = false;
            }
        }
        return bol;
    }
    
    //一级业务新增
    function ajaxSubmit1(frm) {
        
        
        var dataPara = getFormJson(frm);
        /* var bol = true;
        var areaName = dataPara.area;
        var majorName = dataPara.major;
        var busName = dataPara.name;
        if(checkBusName(areaName, majorName, busName)){ */
            $.ajax({
                url: frm.action,
                type: frm.method,
                async: false,
                data: dataPara,
                dataType:"json",
                success: function(data){
                    if(data == '1'){
                        alert("操作成功！");
                        window.location.reload(true);
                    } else {
                        alert("操作失败，请联系系统管理员！");
                    }
                } 
            });
        /* } else {
            bol = false;
        }
        return bol; */
    }
    
    //将form中的值转换为键值对。
    function getFormJson(frm) {
        var o = {};
        var a = $(frm).serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }
    
    // 验证业务编号是否重复
    function checkBusCode(business){
        
        var bol = true;
        $.ajax({
            url:"/Summary/checkBusCode",
            type:"post",
            async: false,
            data:{
                "business":business
            },
            success:function(data){
                if(data == '2'){
                    alert("业务编号重复，请重新输入！");
                    bol = false;
                }
            }
        });
        return bol;
    }
    
    // 验证业务编号是否重复
    function checkBusName(areaName, majorName, busName){
        
        var bol = true;
        $.ajax({
            url:"/Summary/checkBusName",
            type:"post",
            async: false,
            data:{
                "areaName":areaName,
                "majorName":majorName,
                "busName":busName
            },
            success:function(data){
                if(data == '2'){
                    alert("业务名称重复，请重新输入！");
                    bol = false;
                }
            }
        });
        return bol;
    }
    
    // 根据ID删除业务信息
    function deleteById(nodeId){
        
        var r = confirm("确定删除该条记录么？");
        if (r == true) {
            $.ajax({
                url:"/Summary/deleteSummaryById",
                type:"post",
                data:{
                    "businessId":nodeId
                },
                success:function(data){
                    if(data == '1'){
                        alert("操作成功！");
                        window.location.reload(true);
                    } else {
                        alert("操作失败，请联系系统管理员！");
                    }
                }
            });
        }
    }
    
    function cleanForm(){
        $("#searchForm").find("input").each(function(){
            $(this).val("");
        });
        $("#searchForm").find("select").each(function(){
            $(this).val("");
        });
    }
    
</script>

<script type="text/javascript">

$(function(){
     showHighLight(1, 1, 4);
});

</script>

<style type="text/css">
.col-xs-2 {
    width: 10%;
    padding-top: 5px;
}

/* .tab tr th{
    text-align: center;
} */

.btn{
    padding: 5px;
}

.current-page-li {
    list-style-type:none;
}

.page-box-row{
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.txt-al-mar-pad{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.col-search-input{
    width: 150px;
    float: left;
    margin-right: 10px;
}

</style>

#{/set}
