#{extends 'main.html' /}
#{set title:'index.html' /}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins" id="_qunee">
            <div class="ibox-content" style="overflow: hidden;">
                <!-- <div class="search-form">
                    <form action="@{controllers.summary.queryNodeListByName(busName)}" method="get">
                        <div class="input-group">
                            <input type="text" placeholder="${busName}" name="busName" id="busName" value="${busName}" class="form-control input-lg">
                            <div class="input-group-btn">
                                <button class="btn btn-lg btn-primary" type="submit">搜索</button>
                            </div>
                        </div>
                    </form>
                </div> -->
                <h2>${busName} 发现：<span class="text-navy">“${busNodeList.size()}”</span>个子业务</h2>
                *{<small>Request time  (0.23 seconds)</small>}*
                %{
                    com.google.gson.Gson gson = new com.google.gson.Gson();
                    businessList = gson.toJson(busNodeList);
                }%
                #{list items:busNodeList,as:'_busi'}
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <!-- <a href="@{Summary.show(_busi.id)}"> -->
                    <a href="javascript:void(0);" onclick="toDetailInfo('${_busi.id}')" >
                        <div class="widget navy-bg p-xs text-center">
                            <div class="m-b-md">
                                <h2 class="m-xs">${_busi.business}</h2>
                                <h3 class="m-xs">${_busi.content}</h3>
                                <h4 class="font-bold no-margins size" >${_busi.description}</h4>
                            </div>
                        </div>
                    </a>
                    <div id="${_busi.business}" style="height: 300px; display: none;">${_busi.business}</div>
                </div>
                #{/list}
            </div>
        </div>
    </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/js/echarts.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/jquery-form.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/jquery.validate.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/plugins/jquery-ui/jquery-ui.min.js'}"></script>
<link href="@{'/public/js/plugins/jquery-ui/jquery-ui.min.css'}" rel="stylesheet">
<script type="text/javascript">

    function toDetailInfo(nodeId){
        var html = "<div id='dialog-window' title='业务信息'><iframe id='myFrame' src='/Summary/detail?id="+nodeId+"' frameBorder='0' style='border: 0;margin-bottom:-5px;margin-top:-3px;' scrolling='no' height='100%' width='100%'></iframe></div>";
        $(html).dialog($.extend({
            modal: true,
            width: 800,
            height: 500,
            closeOnEscape: false,
            draggable: true,
            resizable: false,
            'class': 'overflow-y:hidden',
            close: function(event, ui) {
              $(this).dialog("destroy"); 
            },
            buttons : [{
                html : "关闭",
                'class' : "btn btn-default btn-sm",
                click : function() {
                    $(this).dialog("close");
                }
            }]
        }));
    }
    
    $(".size").each(function() {
        var maxwidth = 150;
        if ($(this).text().length > maxwidth) {
            $(this).text($(this).text().substring(0, maxwidth));
            $(this).html($(this).html() + '…');
        }
    });
    
</script>
<style type="text/css">
.navy-bg, .bg-primary {
    background-color: #58c5b0;
    color: #ffffff;
}

.p-xs {
    height: 220px;
}
</style>
#{/set}
