#{extends 'main.html' /}
#{set title:'Home' /}
*{<div class="row">}*
	*{<div class="col-lg-12">}*
		*{<div class="ibox float-e-margins">}*
			*{<div class="ibox-content text-center p-md">}*

				*{<h2>}*
					*{<span class="text-navy">公司一体化业务体系</span>}*
				*{</h2>}*

			*{</div>}*
		*{</div>}*
	*{</div>}*
*{</div>}*
<div class="row">
    <div class="col-sm-12">
        <div id="main" style="height: 900px;"></div>
    </div>
</div>
<div class="row">
    <h3>战略与管控业务</h3>
	<div class="col-sm-4 col-xs-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>战略规划</h5>
				<!-- <span class="label label-info">IN+</span> -->
				<div class="ibox-tools">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
					</a> 
					<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
						class="fa fa-wrench"></i>
					</a> -->
					<!-- <ul class="dropdown-menu dropdown-user">
						<li><a href="#">Config option 1</a></li>
						<li><a href="#">Config option 2</a></li>
					</ul> -->
					<!-- <a class="close-link"> <i class="fa fa-times"></i>
					</a> -->
				</div>
			</div>
			<div class="ibox-content">
				<a class="btn btn-info btn-rounded" href="#">规划-统计分析</a>
				<a class="btn btn-info btn-rounded" href="#">规划-负荷预测</a>
				<a class="btn btn-info btn-rounded" href="#">规划-公司规划</a>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-xs-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>计划预算</h5>
				<!-- <span class="label label-info">IN+</span> -->
				<div class="ibox-tools">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
					</a> 
					<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
						class="fa fa-wrench"></i>
					</a> -->
					<!-- <ul class="dropdown-menu dropdown-user">
						<li><a href="#">Config option 1</a></li>
						<li><a href="#">Config option 2</a></li>
					</ul> -->
					<!-- <a class="close-link"> <i class="fa fa-times"></i>
					</a> -->
				</div>
			</div>
			<div class="ibox-content">
				<a class="btn btn-info btn-rounded" href="#">规划-*综合计划下达</a>
				<a class="btn btn-info btn-rounded" href="#">财务-*财务预算下达</a>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-xs-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>监督与评价</h5>
				<!-- <span class="label label-info">IN+</span> -->
				<div class="ibox-tools">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
					</a> 
					<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
						class="fa fa-wrench"></i>
					</a> -->
					<!-- <ul class="dropdown-menu dropdown-user">
						<li><a href="#">Config option 1</a></li>
						<li><a href="#">Config option 2</a></li>
					</ul> -->
					<!-- <a class="close-link"> <i class="fa fa-times"></i>
					</a> -->
				</div>
			</div>
			<div class="ibox-content">
				<a class="btn btn-info btn-rounded" href="#">风险</a>
				<a class="btn btn-info btn-rounded" href="#">检查</a>
				<a class="btn btn-info btn-rounded" href="#">审计</a>
                <a class="btn btn-info btn-rounded" href="#">安全质量与环保</a>
                <a class="btn btn-info btn-rounded" href="#">考核评价</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <h3>客户接入、管理与服务</h3>
    <div class="col-sm-4 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>客户接入</h5>
                <!-- <span class="label label-info">IN+</span> -->
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                    </a>
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
                        class="fa fa-wrench"></i>
                    </a> -->
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a></li>
                        <li><a href="#">Config option 2</a></li>
                    </ul> -->
                    <!-- <a class="close-link"> <i class="fa fa-times"></i>
                    </a> -->
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-info btn-rounded" href="#">营销-新装及扩容</a>
                <a class="btn btn-info btn-rounded" href="#">营销-交易分布式电源并网接入</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用电管理</h5>
                <!-- <span class="label label-info">IN+</span> -->
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                    </a>
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
                        class="fa fa-wrench"></i>
                    </a> -->
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a></li>
                        <li><a href="#">Config option 2</a></li>
                    </ul> -->
                    <!-- <a class="close-link"> <i class="fa fa-times"></i>
                    </a> -->
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-info btn-rounded" href="#">营销-用电检查</a>
                <a class="btn btn-info btn-rounded" href="#">营销-有序用电</a>
                <a class="btn btn-info btn-rounded" href="#">营销-用电业务变更</a>
                <a class="btn btn-info btn-rounded" href="#">营销-电能计量</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>客户服务</h5>
                <!-- <span class="label label-info">IN+</span> -->
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                    </a>
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
                        class="fa fa-wrench"></i>
                    </a> -->
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a></li>
                        <li><a href="#">Config option 2</a></li>
                    </ul> -->
                    <!-- <a class="close-link"> <i class="fa fa-times"></i>
                    </a> -->
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-info btn-rounded" href="#">营销-用电客户服务</a>
                <a class="btn btn-primary btn-rounded" href="@{Application.graph("运检-故障抢修")}">运检-故障抢修</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h3>电网购电、输电与售电</h3>
    <div class="col-sm-4 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>核心交易</h5>
                <!-- <span class="label label-primary">IN+</span> -->
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                    </a>
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
                        class="fa fa-wrench"></i>
                    </a> -->
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a></li>
                        <li><a href="#">Config option 2</a></li>
                    </ul> -->
                    <!-- <a class="close-link"> <i class="fa fa-times"></i>
                    </a> -->
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-info btn-rounded" href="#">交易-*电力市场管理</a>
                <a class="btn btn-info btn-rounded" href="#">交易-购电</a>
                <a class="btn btn-info btn-rounded" href="#">交易-*交易服务</a>
                <a class="btn btn-info btn-rounded" href="#">交易-*购电供应管理</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>电力运行</h5>
                <!-- <span class="label label-primary">IN+</span> -->
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                    </a>
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
                        class="fa fa-wrench"></i>
                    </a> -->
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a></li>
                        <li><a href="#">Config option 2</a></li>
                    </ul> -->
                    <!-- <a class="close-link"> <i class="fa fa-times"></i>
                    </a> -->
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-info btn-rounded" href="#">调控-*安排电网运行方式</a>
                <a class="btn btn-info btn-rounded" href="#">调控-实施电力调度</a>
                <a class="btn btn-info btn-rounded" href="#">调控-*三公调度管理</a>
                <a class="btn btn-info btn-rounded" href="#">调控-*机网协调技术监督管理</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用电结算</h5>
                <!-- <span class="label label-primary">IN+</span> -->
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                    </a>
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
                        class="fa fa-wrench"></i>
                    </a> -->
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a></li>
                        <li><a href="#">Config option 2</a></li>
                    </ul> -->
                    <!-- <a class="close-link"> <i class="fa fa-times"></i>
                    </a> -->
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-info btn-rounded" href="#">营销-电量电费抄核收</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <h3>资产形成、运维与处置</h3>
    <div class="col-sm-4 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>核心交易</h5>
                <!-- <span class="label label-info">IN+</span> -->
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                    </a>
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
                        class="fa fa-wrench"></i>
                    </a> -->
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a></li>
                        <li><a href="#">Config option 2</a></li>
                    </ul> -->
                    <!-- <a class="close-link"> <i class="fa fa-times"></i>
                    </a> -->
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-primary btn-rounded" href="@{Application.graph("核心资源")}">建设-工程建设</a>
                <a class="btn btn-info btn-rounded" href="#">后勤-小型基建</a>
                <a class="btn btn-info btn-rounded" href="#">信通-信息化建设</a>
                <a class="btn btn-info btn-rounded" href="#">办公-设备配置</a>
                <a class="btn btn-info btn-rounded" href="#">后勤-车辆配置与维修</a>
                <a class="btn btn-info btn-rounded" href="#">信通-通信建设</a>
                <a class="btn btn-primary btn-rounded" href="@{Application.graph("财务-财产处置")}">财务-财务处理、财产调拨</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>电力运行</h5>
                <!-- <span class="label label-info">IN+</span> -->
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                    </a>
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
                        class="fa fa-wrench"></i>
                    </a> -->
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a></li>
                        <li><a href="#">Config option 2</a></li>
                    </ul> -->
                    <!-- <a class="close-link"> <i class="fa fa-times"></i>
                    </a> -->
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-info btn-rounded" href="#">调控-*安排电网运行方式</a>
                <a class="btn btn-info btn-rounded" href="#">调控-实施电力调度</a>
                <a class="btn btn-info btn-rounded" href="#">调控-*三公调度管理</a>
                <a class="btn btn-info btn-rounded" href="#">调控-*机网协调技术监督管理</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用电结算</h5>
                <!-- <span class="label label-info">IN+</span> -->
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                    </a>
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
                        class="fa fa-wrench"></i>
                    </a> -->
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a></li>
                        <li><a href="#">Config option 2</a></li>
                    </ul> -->
                    <!-- <a class="close-link"> <i class="fa fa-times"></i>
                    </a> -->
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-info btn-rounded" href="#">营销-电量电费抄核收</a>
            </div>
        </div>
    </div>
</div>

#{set 'moreScripts'}
<script src="@{'/public/js/echarts.min.js'}" ></script>
<script src="@{'/public/js/echarts-gl.min.js'}" ></script>
<script>
    var uploadedDataURL = "@{'/public/js/data-1495595908173-rk2KsOfWb.json'}";
    var myChart = echarts.init(document.getElementById('main'));

    $.getJSON("@{controllers.Business.search("")}", function(data) {

        option = {

            title: {
                text: "公司业务一体化体系",
                top: "top",
                left: "center"
            },

            tooltip: {
                show: true,
                formatter: function(e) {
                    return e.data.displayname;
                }
            },

            legend: {
                x: "bottom",
                bottom:"auto",
                data: data.categories.map(function (a) {
                    return a.name;
                }),
                tooltip: {
                    show: true
                },
            },

            toolbox: {
                show: true,
                feature: {
                    dataView: {
                        show: true,
                        readOnly: true
                    },
                    restore: {
                        show: true
                    },
                    saveAsImage: {
                        show: true
                    }
                }
            },
            animationDuration: 1500,
            animationEasingUpdate: 'quinticInOut',
            series: [{
                type: 'graph',
                layout: 'force',

                force: {
                    //initLayout:'circular'
                    edgeLength: 50,
                    repulsion: 50,
                    gravity: 0.2
                },
                data: data.nodes,
                links: data.links,
                categories: data.categories,
                focusNodeAdjacency: true,
                roam: true,
                label: {
                    normal: {
                        show: true,
                        formatter: function(e) {
                            return e.data.name;
                        },
                        textStyle: {
                            color: '#333',
                            fontFamily: '微软雅黑',
                            fontSize: 10
                        }
                    }
                },
                lineStyle: {
                    normal: {
                        //color: 'target',
                        curveness: 0
                    }
                }
            }]
        };
        myChart.setOption(option)
    })
</script>
#{/set}